<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta id="themecolor" name="theme-color" content="{{ .Params.theme.color }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/palette_{{ .Params.theme.name }}.css" id="palette">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js" async></script>
    <title>{{ .Title | safeHTML }}</title>
    <meta property="og:title" content="{{ .Title | safeHTML }}">
    <meta property="og:description" content="{{ .Description | safeHTML }}">
    <meta property="og:locale" content="de_DE">
    <meta name="description" content="{{ .Description | safeHTML }}">
  </head>
  
  <body>
    <div id="maincontent">
      {{ .Content }}
      
      <div id="copyright">
        <h2>Copyright und so</h2>
        <div id="ccflex">
          <div id="cccontainer">
            <img alt="Creative Commons Logo" src="/cc.svg"> <img alt="Creative Commons Attribution Icon" src="/by.svg"> <img alt="Creative Commons Share-Alike Icon" src="/sa.svg">
          </div>
          <div>
            Die Regeln stehen unter der <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Lizenz (CC BY-SA 4.0)</a> - Verändern und Erweitern ist ausdrücklich erlaubt.
          </div>
        </div>

        <div>
            {{ range .Params.copyright }}
                {{- $length := len .subjects -}}
                {{- range $i, $c := .subjects -}}
                    "{{- $c -}}"
                    {{- if ge (add $i 1) $length -}}
                        &#160;
                    {{- else if ge (add $i 2) $length -}}
                        &#160;und&#160;
                    {{- else -}}
                        ,&#160;
                    {{- end -}}
                {{- end -}}
                {{- if lt $length 2 -}}
                    ist eine eingetragene Wortmarke der&#160;
                {{- else -}}
                    sind eingetragene Wortmarken der&#160;
                {{- end -}}
                {{ .holder }}
            {{ end }}
        </div>
      </div>
      <footer>
        <nav>
          <ul class="menu">
              <li><a href="/imprint/">Impressum</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
  
</html>
