:root {
  --dark-primary-color:    #7B1FA2;
  --default-primary-color: #00c500;
  --light-primary-color:   #adf0ad;
  --text-primary-color:    #000000;
  --accent-color:          #536DFE;
  --primary-text-color    : #212121;
  --secondary-text-color  : #757575;
  --divider-color         : #BDBDBD;
  --text-highlight-color:  #E040FB;
}
